
<div class="container">

  <h1>Háromszög</h1>

  <h2>Háromszög területe</h2>


  <label for="base" class="form-label">Alap</label>
  <input type="text" id="base" class="form-control" [(ngModel)]="base"><br>

  <label for="height" class="form-label">Magasság</label>
  <input type="text" id="height" class="form-control" [(ngModel)]="height"><br>

  <button (click)="calcArea()" class="btn btn-primary mb-3">Számít</button><br>

  <label class="form-label">Terület</label>
  <input type="text" disabled class="form-control" [(ngModel)]="area"><br>
  
</div>
